<div class="row" style="background-color: lightblue;">
    <div class="col-md-4">
        <br>
        <div class="container">
            <div class="row">
                <aside class="col-sm-12">
                    <div class="card">
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title mb-0">Choisir le type</h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="custom-control custom-radio">
                                        <input [disabled]="!hasLoadedJobs" [(ngModel)]="jobType" class="custom-control-input" id="job_type_all"
                                            type="radio" name="job_type" value="all" (ngModelChange)="searchJobs()">
                                        <label class="custom-control-label" for="job_type_all">
                                            Tous les types
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input [disabled]="!hasLoadedJobs" [(ngModel)]="jobType" class="custom-control-input" id="job_type_cdd"
                                            type="radio" name="job_type" value="cdd" (ngModelChange)="searchJobs()">
                                        <label class="custom-control-label" for="job_type_cdd">
                                            CDD
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input [disabled]="!hasLoadedJobs" [(ngModel)]="jobType" class="custom-control-input" id="job_type_cdi"
                                            type="radio" name="job_type" value="cdi" (ngModelChange)="searchJobs()">
                                        <label class="custom-control-label" for="job_type_cdi">
                                            CDI
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </aside>
                <aside class="col-sm-12">
                    <div class="card">
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title mb-0">Choisir les sites</h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="custom-control custom-radio">
                                        <input [disabled]="!hasLoadedJobs" class="custom-control-input" id="job_source_all" type="radio"
                                            name="job_source" value="all" [(ngModel)]="jobSource"
                                            (ngModelChange)="searchJobs()">
                                        <label class="custom-control-label" for="job_source_all">
                                            Tous les sites
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input [disabled]="!hasLoadedJobs" class="custom-control-input" id="job_source_jobi" type="radio"
                                            name="job_source" value="jobi" [(ngModel)]="jobSource"
                                            (ngModelChange)="searchJobs()">
                                        <label class="custom-control-label" for="job_source_jobi">
                                            Jobi.tn
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input [disabled]="!hasLoadedJobs" class="custom-control-input" id="job_source_tanit" type="radio"
                                            name="job_source" value="tanit" [(ngModel)]="jobSource"
                                            (ngModelChange)="searchJobs()">
                                        <label class="custom-control-label" for="job_source_tanit">
                                            TanitJobs.tn
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input [disabled]="!hasLoadedJobs" class="custom-control-input" id="job_source_emploi" type="radio"
                                            name="job_source" value="emploi" [(ngModel)]="jobSource"
                                            (ngModelChange)="searchJobs()">
                                        <label class="custom-control-label" for="job_source_emploi">
                                            EmploisTunisie.tn
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </aside>
                <aside class="col-sm-12">
                    <div class="card">
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title mb-0">Salaire</h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Minimum</label>
                                            <input [disabled]="!hasLoadedJobs" type="number" [(ngModel)]="minSalary"
                                                class="form-control" id="inputEmail4" placeholder="0 TND">
                                        </div>
                                        <div class="form-group col-md-6 text-right">
                                            <label>Maximum</label>
                                            <input [disabled]="!hasLoadedJobs" type="number" [(ngModel)]="maxSalary"
                                                class="form-control" placeholder="1,000 TND">
                                        </div>
                                    </div>
                                    <div class="form-row float-right">
                                        <button [disabled]="!hasLoadedJobs" class="btn btn-primary" (click)="searchJobs()">Valider</button>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title mb-0">Les Tags les Plus Utilisés</h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="custom-control custom-checkbox">
                                        <input [disabled]="!hasLoadedJobs"[(ngModel)]="isSerieuxChecked" (ngModelChange)="searchJobs()"  type="checkbox" class="custom-control-input" id="Check1">
                                        <label class="custom-control-label" for="Check1">Sérieux</label>
                                    </div>

                                    <div class="custom-control custom-checkbox">
                                        <input [disabled]="!hasLoadedJobs" [(ngModel)]="isAmbitieuxChecked" (ngModelChange)="searchJobs()" type="checkbox" class="custom-control-input" id="Check2">
                                        <label class="custom-control-label" for="Check2">Ambitieux</label>
                                    </div>

                                    <div class="custom-control custom-checkbox">
                                        <input [disabled]="!hasLoadedJobs" [(ngModel)]="isBosseurChecked" (ngModelChange)="searchJobs()" type="checkbox" class="custom-control-input" id="Check3">
                                        <label class="custom-control-label" for="Check3">Bosseur</label>
                                    </div>

                                    <div class="custom-control custom-checkbox">
                                        <input [disabled]="!hasLoadedJobs" [(ngModel)]="isDisciplineChecked" (ngModelChange)="searchJobs()" type="checkbox" class="custom-control-input" id="Check4">
                                        <label class="custom-control-label" for="Check4">Discipliné</label>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </aside>
            </div>
        </div>

        <br><br>
        <div class="container">
            <article class="bg-secondary mb-3">
                <div class="card-body text-center">
                    <h4 class="text-white">Publicité</h4>
                    <h4 class="text-white">Publicité</h4>
                    <p class="h5 text-white">Publicite</p>
                    <br>
                    <p>
                        <a class="btn btn-warning" target="_blank" href="#">Lien Publicité
                            <i class="fa fa-window-restore"></i>
                        </a>
                    </p>
                </div>
            </article>
        </div>
    </div>

    <aside class='col-md-8 d-flex flex-column justify-content-start align-items-center'>
        <br>
        <form (ngSubmit)="searchJobs()">
            <div class="container h-10">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                        <input class="search_input" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}"
                            type="text" name="" placeholder="Search...">
                        <button class="search_icon btn"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <div class="spinner-border text-primary mt-3 mb-3" role="status" *ngIf="!hasLoadedJobs">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="container" *ngIf="hasLoadedJobs">
            <div class="d-flex justify-content-center row mt-3 mb-3" *ngFor="let job of jobs; let index = index;">
                <div class="col-md-10">
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"
                            *ngIf="job.type.includes('CDD') && (jobType == 'cdd' || jobType == 'all'); else second"><img
                                class="img-fluid img-responsive rounded product-image" src="assets/img/cdd.png"></div>
                        <ng-template #second>
                            <ng-container
                                *ngIf="job.type.includes('CDI') && (jobType == 'cdi' || jobType == 'all');else third">
                                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image"
                                        src="assets/img/cdi.jpg"></div>
                            </ng-container>
                        </ng-template>
                        <ng-template #third>
                            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image"
                                    src="assets/img/logo.jpg"></div>
                        </ng-template>
                        <div class="col-md-6 mt-1">
                            <h5>{{job.title}}</h5>
                            <div class="d-flex flex-row">
                                <h6> {{job.company_name}}
                                </h6>
                            </div>

                            <div class="mt-1 mb-1 spec-1 text-primary text-truncate"> {{job.tags}}
                            </div>
                            <p class="text-justify text-truncate para mb-0 text-truncate">{{job.description}}</p>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center"
                                *ngIf=" job.salary !='' && job.salary !='vide'">
                                <h6 class="text">salaire: </h6>
                                <h4 class="mr-3" style=" font-size:15px ;">{{job.salary}}</h4>
                            </div>
                            <h6 class="text-success" *ngIf=" job.location !='' && job.location !='vide'">📌
                                {{job.location}}</h6>
                            <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm "
                                    (click)="triggerModal(modalData,index)" type="button">Details</button><button
                                    class="btn btn-outline-primary btn-sm mt-2" type="button"
                                    (click)="onclick(job._id)">Enregistrer</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-3 mb-3" *ngIf="hasLoadedJobs && jobs.length == 0">
            <p class="title text-center">Pas d'offre de travail avec ces critéres!</p>
        </div>
        <nav aria-label="Page navigation example" *ngIf="hasLoadedJobs && jobs.length != 0">
            <ul class="pagination justify-content-center">
                <li class="page-item" [ngClass]="{'disabled': previousPageNumber == 0}">
                    <a class="page-link btn" tabindex="-1" aria-disabled="true"
                        (click)="goToPreviousPage()">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link btn" *ngIf="currentPageNumber >= 4" (click)="goToPreviousMany()">...</a>
                </li>
                <li class="page-item">
                    <a class="page-link btn" *ngIf="previousPageNumber != 0"
                        (click)="goToPreviousPage()">{{previousPageNumber}}</a>
                </li>
                <li class="page-item active">
                    <a class="page-link btn">{{currentPageNumber}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link btn" *ngIf="nextPageNumber < totalPages + 1"
                        (click)="goToNextPage()">{{nextPageNumber}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link btn" *ngIf=" totalPages - currentPageNumber > 1"
                        (click)="goToNextMany()">...</a>
                </li>
                <li class="page-item" [ngClass]="{'disabled': nextPageNumber == totalPages + 1}">
                    <a class="page-link btn" (click)="goToNextPage()">Next</a>
                </li>
            </ul>
        </nav>
    </aside>
</div>
<ng-template #modalData let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{jobs[selectedjobindex].title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <h4 class='text-primary'>Société : {{jobs[selectedjobindex].company_name}}</h4>
        <h6 class='text-success'
            *ngIf="jobs[selectedjobindex].domain != null && jobs[selectedjobindex].domain != '' && jobs[selectedjobindex].domain != 'vide'">
            domaine : {{jobs[selectedjobindex].domain}}</h6>
        <div [innerHTML]="jobs[selectedjobindex].description">

        </div>

    </div>
    <div class="modal-footer">
        <a [href]="jobs[selectedjobindex].url_link" target="_blank" class="btn btn-primary">visiter l'annonce</a>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Fermer</button>
    </div>

</ng-template>
<simple-notifications [options]="options" (create)="created($event)" (destroy)="destroyed($event)">
</simple-notifications>