<div class="row" style="background-color: lightblue;">


    <div class="col-sm-4">
        <br>

        <div class="container">
            <div class="row">
                <aside class="col-sm-12">
                    <div class="card">
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title">Choisir type </h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <label class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                        <span class="form-check-label">
                                            tous les types
                                        </span>
                                    </label>
                                    <label class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                        <span class="form-check-label">
                                            CDD
                                        </span>
                                    </label>
                                    <label class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                        <span class="form-check-label">
                                            CDI
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </article>
                    </div>
                </aside>
                <aside class="col-sm-12">
                    <div class="card">
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title">Coisir site </h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <label class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                        <span class="form-check-label">
                                            tous les sites
                                        </span>
                                    </label>
                                    <label class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                        <span class="form-check-label">
                                            Jobi.tn
                                        </span>
                                    </label>
                                    <label class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                        <span class="form-check-label">
                                            Tanitjobs.tn
                                        </span>
                                    </label>
                                    <label class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                        <span class="form-check-label">
                                            EmploisTunisie.tn
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </article>
                    </div>
                </aside>
                <aside class="col-sm-12">
                    <div class="card">
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title">salaire </h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Minimum</label>
                                            <input type="number" class="form-control" id="inputEmail4" placeholder="$0">
                                        </div>
                                        <div class="form-group col-md-6 text-right">
                                            <label>Maximum</label>
                                            <input type="number" class="form-control" placeholder="$1,0000">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title">les tags les plus utilisés </h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="custom-control custom-checkbox">
                                        <span class="float-right badge badge-light round">52</span>
                                        <input type="checkbox" class="custom-control-input" id="Check1">
                                        <label class="custom-control-label" for="Check1">Sérieux</label>
                                    </div>

                                    <div class="custom-control custom-checkbox">
                                        <span class="float-right badge badge-light round">132</span>
                                        <input type="checkbox" class="custom-control-input" id="Check2">
                                        <label class="custom-control-label" for="Check2">Ambitieux</label>
                                    </div>

                                    <div class="custom-control custom-checkbox">
                                        <span class="float-right badge badge-light round">17</span>
                                        <input type="checkbox" class="custom-control-input" id="Check3">
                                        <label class="custom-control-label" for="Check3">Bosseur</label>
                                    </div>

                                    <div class="custom-control custom-checkbox">
                                        <span class="float-right badge badge-light round">7</span>
                                        <input type="checkbox" class="custom-control-input" id="Check4">
                                        <label class="custom-control-label" for="Check4">Discipliné</label>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </aside>
            </div>
        </div>

        <br><br>
        <article class="bg-secondary mb-3">
            <div class="card-body text-center">
                <h4 class="text-white">Pub <br> pub </h4>
                <p class="h5 text-white"> pub</p> <br>
                <p><a class="btn btn-warning" target="_blank" href="#"> linkpub
                        <i class="fa fa-window-restore "></i></a></p>
            </div>
            <br><br>
        </article>
    </div>

    <aside class=' col-sm-8'>
        <br>
        <div class="container h-10">
            <div class="d-flex justify-content-center h-100">
                <div class="searchbar">
                    <input class="search_input" type="text" name="" placeholder="Search...">
                    <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
        <br>
        <div class="container mt-3 mb-3 " *ngFor="let job of jobs; let index = index;">
            <div class="d-flex justify-content-center row">
                <div class="col-md-10">
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1" *ngIf="job.type == 'CDD'"><img class="img-fluid img-responsive rounded product-image"
                                src="assets/img/cdd.png"></div>
                                <div class="col-md-3 mt-1" *ngIf="job.type == 'CDI'"><img class="img-fluid img-responsive rounded product-image"
                                    src="assets/img/cdi.jpg"></div>
                                    <div class="col-md-3 mt-1" *ngIf="job.type != 'CDD'&& job.type != 'CDI'"><img class="img-fluid img-responsive rounded product-image"
                                        src="assets/img/logo.jpg"></div>
                        <div class="col-md-6 mt-1">
                            <h5>{{job.title}}</h5>
                            <div class="d-flex flex-row">
                                <h6> {{job.company_name}}
                                </h6>
                            </div>

                            <div class="mt-1 mb-1 spec-1 text-primary text-truncate"> {{job.tags}}
                            </div>
                            <p class="text-justify text-truncate para mb-0 text-truncate"  >{{job.description}}</p>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center">
                                <h6 class="text" >salaire:  </h6>
                                <h4 class="mr-3" style =" font-size:15px ;" *ngIf=" job.salary !='' && job.salary !='vide'" >{{job.salary}}</h4>
                            </div>
                            <h6 class="text-success">{{job.location}}</h6>
                            <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm "
                                    (click)="triggerModal(modalData)" type="button">Details</button><button
                                    class="btn btn-outline-primary btn-sm mt-2" type="button"
                                    (click)="onclick()">Enregistrer</button></div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>


    </aside>
</div>
<ng-template #modalData let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Modifie ton Profil</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">visiter l'annonce</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Fermer</button>
    </div>

</ng-template>
<simple-notifications [options]="options" (create)="created($event)" (destroy)="destroyed($event)">
</simple-notifications>