<div class="container" *ngIf="currentprofile">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img [src]="currentprofile.image ? sanitize(currentprofile.image) :'assets/img/profile-picture.png' | safeUrl"
                            class="rounded-circle" width="150" alt="User-Profile-Image">
                            <div class="mt-3">
                                <h4>{{currentprofile.last_name}} {{currentprofile.first_name}}</h4>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                <button class="btn btn-danger " (click)="triggerModal(modalData)" >Supprimer</button>

                                <a class="btn btn-primary " [href]="'mailto:' + currentprofile.email" >Envoyer Alerte</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{currentprofile.last_name}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Prénom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{currentprofile.first_name}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{currentprofile.email}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Téléphone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{currentprofile.tel}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Adresse</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{currentprofile.address}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Gouvernorat</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{currentprofile.state}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Ville</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{currentprofile.city}}
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Tags</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{currentprofile.tags}}
                            </div>
                        </div>

                    </div>
                </div>
                <hr>
                <!-- modal -->
                <ng-template #modalData let-modal>
                  
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Supprimer le Profil</h4>
                            <button type="button" class="close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h6> Etes vous sur de vouloir supprimer ce profil ?</h6>
                             </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" (click)='onclick()' >Supprimer</button>
                            <button type="button" class="btn btn-danger"
                                (click)="modal.close('Save click')">Annuler</button>
                        </div>
                
                </ng-template>

            </div>
        </div>
    </div>
</div>
<simple-notifications [options]="options" (create)="created($event)" (destroy)="destroyed($event)">
</simple-notifications>
