<div class="container" style="background-color: lightblue;" *ngIf="profile != null">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>John Doe</h4>
                                <button class="btn btn-primary " (click)="triggerModal(modalData)">Modifier</button>
                                <!-- <button class="btn btn-outline-primary">Message</button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
                                    <path
                                        d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z" />
                                    <polyline points="22,6 12,13 2,6" />
                                </svg> <span style="margin-left:10px">Mail</span> </h6>
                            <span class="text-secondary">bootdey</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-facebook mr-2 icon-inline text-primary">
                                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                                </svg>Facebook</h6>
                            <span class="text-secondary">bootdey</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profile.last_name}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Prénom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profile.first_name}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profile.email}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Téléphone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profile.tel}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Addresse</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profile.address}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Gouvernorat</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profile.state}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Ville</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profile.city}}
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Tags</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profile.tags}}
                            </div>
                        </div>

                    </div>
                </div>
                <hr>
                <!-- modal -->
                <ng-template #modalData let-modal>
                    <form [formGroup]="profileForm" (ngSubmit)="onclick()">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Modifie ton Profil</h4>
                            <button type="button" class="close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="file">Example file input</label>
                                <input type="file" class="form-control-file" id="file" formControlName="file">
                            </div>
                            <div class="form-group">
                                <label for="Nom">Nom</label>
                                <input
                                    [ngClass]="{'is-valid': profileForm.controls.Nom.valid && profileForm.controls.Nom.dirty, 'is-invalid': profileForm.controls.Nom.invalid}"
                                    type="text" class="form-control" id="Nom" [placeholder]="profile.last_name"
                                    formControlName="Nom">
                            </div>
                            <div class="form-group">
                                <label for="Prenom">Prénom</label>
                                <input
                                    [ngClass]="{'is-valid': profileForm.controls.Prenom.valid && profileForm.controls.Prenom.dirty, 'is-invalid': profileForm.controls.Prenom.invalid}"
                                    type="text" class="form-control" id="Prenom" [placeholder]="profile.first_name"
                                    formControlName="Prenom">
                            </div>
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input
                                    [ngClass]="{'is-valid': profileForm.controls.Email.valid && profileForm.controls.Email.dirty, 'is-invalid': profileForm.controls.Email.invalid}"
                                    type="text" class="form-control" id="Email" [placeholder]="profile.email"
                                    formControlName="Email">
                            </div>
                            <div class="form-group">
                                <label for="tel">Telephone</label>
                                <input
                                    [ngClass]="{'is-valid': profileForm.controls.tel.valid && profileForm.controls.tel.dirty, 'is-invalid': profileForm.controls.tel.invalid}"
                                    type="tel" class="form-control" id="tel" [placeholder]="profile.tel"
                                    formControlName="tel">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="mdp">Mot de passe</label>
                                    <input
                                        [ngClass]="{'is-valid': profileForm.controls.mdp.valid && profileForm.controls.mdp.dirty, 'is-invalid': profileForm.controls.mdp.invalid}"
                                        type="password" class="form-control" id="mdp" formControlName="mdp">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="cmdp">Confirmer mot de passe</label>
                                    <input
                                        [ngClass]="{'is-valid': profileForm.controls.cmdp.valid && profileForm.controls.cmdp.dirty, 'is-invalid': profileForm.controls.cmdp.invalid}"
                                        type="password" class="form-control" id="cmdp" formControlName="cmdp">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="adresse">Addresse</label>
                                <input
                                    [ngClass]="{'is-valid': profileForm.controls.adresse.valid && profileForm.controls.adresse.dirty, 'is-invalid': profileForm.controls.adresse.invalid}"
                                    type="text" class="form-control" id="adresse" [placeholder]="profile.address"
                                    formControlName="adresse">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="Gouvernorat">Gouvernorat</label>
                                    <input
                                        [ngClass]="{'is-valid': profileForm.controls.Gouvernorat.valid && profileForm.controls.Gouvernorat.dirty, 'is-invalid': profileForm.controls.Gouvernorat.invalid}"
                                        type="text" class="form-control" id="Gouvernorat" formControlName="Gouvernorat" [placeholder]="profile.state">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="Ville">Ville</label>
                                    <select id="Ville" class="form-control" formControlName="Ville">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <label for="inputEmail4">Tags</label>
                                <ng-select [multiple]="true">
                                    <ng-option *ngFor="let tag of tags" [value]="tag.id">{{tag.name}}</ng-option>
                                </ng-select>
                            </div>
                            <br>


                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" [disabled]="profileForm.invalid" >Enregistrer les modifications</button>
                            <button type="button" class="btn btn-danger"
                                (click)="modal.close('Save click')">Fermer</button>
                        </div>
                    </form>
                </ng-template>

            </div>
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-body pb-0 "  *ngFor="let joboffer of profile.favorites">
                        <div class="row" >
                            <div class="col-sm-5">
                                <h6 class="mb-0">{{joboffer.title}}</h6>
                            </div>
                            <div class="col-sm-4 text-secondary">
                                {{joboffer.company_name}}
                            </div>
                            <!-- on doit pas oublier le onclick ici -->
                            <a class="col-sm-2"   [href]="joboffer.url_link" target="_blank" > Go To >></a>
                            <button type="button" class="close col-sm-1" aria-label="Close" (click)="deletejobofferfromfavorites(joboffer)">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<simple-notifications [options]="options" (create)="created($event)" (destroy)="destroyed($event)">
</simple-notifications>