<div class="container" >
    <div class="row " >
        <a class="col-md-6 " routerLink="/profile" >
            <div class="profile-card-6" ><img
                    src="assets/img/oklm.jpg"
                    class="img img-responsive">
                <div class="profile-name">Consultez votre
                    <br>Profil
                </div>
                <div class="profile-position">Visitez vos informations et les offres enregistrées</div>
                <div class="profile-overview">
                    <div class="profile-overview">
                        <div class="row text-center">
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a class="col-md-6" routerLink="/offers">
            <div class="profile-card-6"><img
                    src="https://image.freepik.com/free-photo/successful-businesswoman-working-laptop-computer-thinks-new-ideas-her-office-dressed-up-white-clothes_231208-4811.jpg"
                    class="img img-responsive">
                <div class="profile-name">Consultez les
                    <br>Offres
                </div>
                <div class="profile-position">Visitez les offres des différents sites! </div>
                <div class="profile-overview">
                    <div class="profile-overview">
                        <div class="row text-center">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>