<div class="container" >
    <div class="row " >
        <a class="col-md-6 " [routerLink]="/profile" >
            <div class="profile-card-6" ><img
                    src="assets/img/oklm.jpg"
                    class="img img-responsive">
                <div class="profile-name">Go To
                    <br>Profile
                </div>
                <div class="profile-position">visit your profile</div>
                <div class="profile-overview">
                    <div class="profile-overview">
                        <div class="row text-center">
                            <!-- <div class="col-xs-4">
                                <h3>1</h3>
                                <p>Rank</p>
                            </div>
                            <div class="col-xs-4">
                                <h3>50</h3>
                                <p>Matches</p>
                            </div>
                            <div class="col-xs-4">
                                <h3>35</h3>
                                <p>Goals</p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a class="col-md-6" [routerLink]="/offers">
            <div class="profile-card-6"><img
                    src="https://image.freepik.com/free-photo/successful-businesswoman-working-laptop-computer-thinks-new-ideas-her-office-dressed-up-white-clothes_231208-4811.jpg"
                    class="img img-responsive">
                <div class="profile-name">Go To
                    <br>Job Offers
                </div>
                <div class="profile-position">Visit all Job Offers! </div>
                <div class="profile-overview">
                    <div class="profile-overview">
                        <div class="row text-center">
                            <!-- <div class="col-xs-4">
                                <h3>1</h3>
                                <p>Rank</p>
                            </div>
                            <div class="col-xs-4">
                                <h3>50</h3>
                                <p>Matches</p>
                            </div>
                            <div class="col-xs-4">
                                <h3>35</h3>
                                <p>Goals</p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </a>

    </div>
</div>