<mat-progress-bar mode="determinate" [value]="loader.value$ | async"></mat-progress-bar>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="!isAdmin()">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/dash" routerLinkActive="active">Ohhhhhhhrs</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" routerLink="/offers" routerLinkActive="active">Offers</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedOut()">
        <a class="nav-link" routerLink='/register' routerLinkActive="active ">Register</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="btn btn-primary" role="button" (click)="logout()">Sign Out!</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedOut()">
        <a class="btn btn-primary" routerLink='/login' role="button">Sign In!</a>
      </li>
    </ul>


  </div>
</nav>
<!-- Masthead-->
<router-outlet> </router-outlet>

<!-- Footer-->
<footer class="footer bg-light" style="z-index: -1 !important;" *ngIf="!isAdmin()">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a href="#!">About</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="#!">Contact</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">© Your Website 2021. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#!"><i class="fab fa-facebook fa-2x fa-fw"></i></a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#!"><i class="fab fa-twitter-square fa-2x fa-fw"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#!"><i class="fab fa-instagram fa-2x fa-fw"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>