<mat-progress-bar mode="determinate" [value]="loader.value$ | async"></mat-progress-bar>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> <img src="assets/img/logo-nav.png" style="height: 45px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Accueil</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/dash" routerLinkActive="active" *ngIf="authService.isAdmin()">Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" routerLink="/offers" routerLinkActive="active">Offres</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profil</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedOut()">
        <a class="nav-link" routerLink='/register' routerLinkActive="active">Créer un compte</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="btn btn-primary" role="button" (click)="logout()">Se déconnecter</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedOut()">
        <a class="btn btn-primary" routerLink='/login' role="button">Se connecter</a>
      </li>
    </ul>


  </div>
</nav>

<router-outlet> </router-outlet>

<footer class="footer bg-light" style="z-index: -1 !important;" >
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a href="#!">A propos de nous</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="#!">Nous contacter</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="#!">
            Politique de confidentialité</a></li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">©3MJobs 2021. Tous les droits sont réservés.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#!"><i class="fab fa-facebook fa-2x fa-fw"></i></a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#!"><i class="fab fa-twitter-square fa-2x fa-fw"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#!"><i class="fab fa-instagram fa-2x fa-fw"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
