<div class="bs-stepper">
    <div class="bs-stepper-header" role="tablist">
        <!-- your steps here -->
        <div class="step" data-target="#register-part">
            <button type="button" class="step-trigger" role="tab" aria-controls="register-part"
                id="register-part-trigger">
                <span class="bs-stepper-circle">1</span>
                <span class="bs-stepper-label">Register</span>
            </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#confirm-register-part">
            <button type="button" class="step-trigger" role="tab" aria-controls="confirm-register-part"
                id="confirm-register-part-trigger">
                <span class="bs-stepper-circle">2</span>
                <span class="bs-stepper-label">Confirm Register</span>
            </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#finish-register-part">
            <button type="button" class="step-trigger" role="tab" aria-controls="finish-register-part"
                id="finish-register-part-trigger">
                <span class="bs-stepper-circle">3</span>
                <span class="bs-stepper-label">Finish Register</span>
            </button>
        </div>
    </div>
    <div class="bs-stepper-content">
        <!-- your steps content here -->
        <div id="register-part" class="content" role="tabpanel" aria-labelledby="register-part-trigger">
            <!-- register -->
            <main>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-9 mx-auto">
                            <div class="card card-signin flex-row my-5">
                                <div class="card-img-left d-none d-md-flex">
                                    <!-- Background image for card set in CSS! -->
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title text-center">Register</h5>
                                    <form class="form-signin" [formGroup]="profileForm">
                                        <div class="form-group">
                                            <label for="Email">Email</label>
                                            <input
                                                [ngClass]="{'is-valid': profileForm.controls.Email.valid && profileForm.controls.Email.dirty, 'is-invalid': profileForm.controls.Email.invalid && profileForm.controls.Email.dirty}"
                                                type="text" class="form-control" id="Email" placeholder="Email..."
                                                formControlName="Email">
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="mdp">Mot de passe</label>
                                                <input
                                                    [ngClass]="{'is-valid': profileForm.controls.mdp.valid && profileForm.controls.mdp.dirty, 'is-invalid': profileForm.controls.mdp.invalid && profileForm.controls.mdp.dirty}"
                                                    type="password" class="form-control" id="mdp" formControlName="mdp">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="cmdp">Confirmer mot de passe</label>
                                                <input
                                                    [ngClass]="{'is-valid': profileForm.controls.cmdp.valid && profileForm.controls.cmdp.dirty, 'is-invalid': profileForm.controls.cmdp.invalid && profileForm.controls.cmdp.dirty}"
                                                    type="password" class="form-control" id="cmdp"
                                                    formControlName="cmdp">
                                            </div>
                                        </div>
                                        <br>
                                        <div *ngIf="registerErrorExists" class="alert alert-danger" role="alert">
                                            Email already used!
                                        </div>
                                        <button (ngSubmit)="onclick1()" class="btn btn-lg btn-primary btn-block text-uppercase"
                                            [disabled]="profileForm.invalid">Register</button>
                                        <p class="text-center mt-1 mb-0 d-block small">ou</p>
                                        <a class="d-block text-center mt-0 small" routerLink="/login">Login</a>
                                        <hr class="my-4">
                                        <button type="button" (click)="signInWithGoogle()" class="btn btn-lg btn-google btn-block text-uppercase"><i
                                                class="fab fa-google mr-2"></i> Sign up with Google</button>
                                        <button class="btn btn-lg btn-facebook btn-block text-uppercase"
                                            type="button"><i class="fab fa-facebook-f mr-2"></i> Sign up with
                                            Facebook</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="confirm-register-part" class="content" role="tabpanel" aria-labelledby="confirm-register-part-trigger">
            <main>
                <!-- confirm register -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-9 mx-auto">
                            <div class="card card-signin flex-row my-5">
                                <div class="card-img-left d-none d-md-flex">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title text-center">Register</h5>
                                    <form class="form-signin" [formGroup]="profileForm2" (ngSubmit)="onclick2()">
                                        <div class="form-group">
                                            <label for="Nom">Nom</label>
                                            <input
                                                [ngClass]="{'is-valid': profileForm2.controls.Nom.valid && profileForm2.controls.Nom.dirty, 'is-invalid': profileForm2.controls.Nom.invalid}"
                                                type="text" class="form-control" id="Nom" placeholder="1234 Main St"
                                                formControlName="Nom">
                                        </div>
                                        <div class="form-group">
                                            <label for="Prenom">Prénom</label>
                                            <input
                                                [ngClass]="{'is-valid': profileForm2.controls.Prenom.valid && profileForm2.controls.Prenom.dirty, 'is-invalid': profileForm2.controls.Prenom.invalid}"
                                                type="text" class="form-control" id="Prenom" placeholder="1234 Main St"
                                                formControlName="Prenom">
                                        </div>
                                        <div class="form-group">
                                            <label for="tel">Telephone</label>
                                            <input
                                                [ngClass]="{'is-valid': profileForm2.controls.tel.valid && profileForm2.controls.tel.dirty, 'is-invalid': profileForm2.controls.tel.invalid}"
                                                type="tel" class="form-control" id="tel" placeholder="..."
                                                formControlName="tel">
                                        </div>
                                        <div class="form-group">
                                            <label for="adresse">Addresse</label>
                                            <input
                                                [ngClass]="{'is-valid': profileForm2.controls.adresse.valid && profileForm2.controls.adresse.dirty, 'is-invalid': profileForm2.controls.adresse.invalid}"
                                                type="text" class="form-control" id="adresse" placeholder="1234 Main St"
                                                formControlName="adresse">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="sexe">Sexe</label>
                                            <select id="sexe" class="form-control" formControlName="sexe">
                                                <option selected>Choose...</option>
                                                <option value="Homme">Homme</option>
                                                <option value="Femme">Femme</option>
                                            </select>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="Gouvernorat">Gouvernorat</label>
                                                <input
                                                    [ngClass]="{'is-valid': profileForm2.controls.Gouvernorat.valid && profileForm2.controls.Gouvernorat.dirty, 'is-invalid': profileForm2.controls.Gouvernorat.invalid}"
                                                    type="text" class="form-control" id="Gouvernorat"
                                                    formControlName="Gouvernorat">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="Ville">Ville</label>
                                                <select id="Ville" class="form-control" formControlName="Ville">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div>
                                            <label for="inputEmail4">Tags</label>
                                            <ng-select [multiple]="true" [(ngModel)]="selectedTags"
                                                [ngModelOptions]="{standalone: true}">
                                                <ng-option *ngFor="let tag of tags" [value]="tag.id">{{tag.name}}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                        <br>
                                        <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                            [disabled]="profileForm2.invalid || !profileForm2.dirty">Create
                                            account</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="finish-register-part" class="content" role="tabpanel" aria-labelledby="finish-register-part-trigger">
            <main>
                <!-- finish register -->
                <app-stepper3></app-stepper3>
            </main>
        </div>
    </div>
</div>